<mat-card class="contact-form">
  <mat-card-header class="justify-content-center mb-5">
    <mat-card-title class="primary-color-text header fs-1"
      >צרו קשר!</mat-card-title
    >
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="text-end w-custom" appearance="fill">
      <mat-label>הכנס את האימייל שלך:</mat-label>
      <input
        class="text-start"
        matInput
        placeholder="john@example.com"
        required
      />
    </mat-form-field>
    <mat-form-field class="text-end w-custom" appearance="fill">
      <mat-label>הכנס את השם שלך:</mat-label>
      <input class="text-end" matInput placeholder="אבירם שרון" required />
    </mat-form-field>
    <mat-form-field class="text-end w-custom" appearance="fill">
      <mat-label>הכנס את ההודעה שלך:</mat-label>
      <textarea
        cdkTextareaAutosize="true"
        cdkAutosizeMinRows="2"
        cdkAutosizeMaxRows="10"
        class="text-end"
        matInput
        placeholder="הודעה מפורטת של דברים שתרצו להגיד לנו"
        required
      ></textarea>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" class="w-25 mx-4">
      שלח את בקשתך!
    </button>
  </mat-card-actions>
</mat-card>
