<div class="d-flex">
  <mat-card class="about-us-face mb-5 mt-0">
    <mat-card-header class="justify-content-center mb-5">
      <mat-card-title class="primary-color-text fs-1 header">
        קצת עלינו?
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="fs-5">
      <p class="fs-5 fw-bold">
        תחומי טיפול המרפאה מטפלת בכאבים כרונים מסוגים שונים, העיקריים שבהם:
      </p>
      <ul>
        <li>כאבי ראש ופנים</li>
        <li>כאבי צוואר</li>
        <li>כאבים בגפיים</li>
        <li>תסמונת פיברומיאלגיה</li>
        <li>תסמונות כאב איזורי</li>
        <li>כאבים באגן לגברים ונשים</li>
        <li>כאבים עצביים</li>
        <li>כאבי פאנטום</li>
        <li>כאבים בחזה ממקור לא לבבי</li>
        <li>כאבי בטן</li>
        <li>כאבי גב תחתון</li>
        <li>כאבים עצביים</li>
      </ul>
    </mat-card-content>
  </mat-card>
  <mat-card class="about-us-face mb-5 mt-0">
    <mat-card-header class="justify-content-center mb-5">
      <mat-card-title class="primary-color-text fs-1 header">
        מי אנחנו?
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="fs-5">
      <img src="../../../../../assets/sharonface.webp" />
      <p class="fs-3 mt-3">ד"ר אבירם שרון</p>
      מומחה בנוירוכירורגיה (ניתוחי מוח ועמוד שדרה) ורופא לשיכוך כאב
    </mat-card-content>
  </mat-card>
</div>
