<div class="shoulder-view">
  <div class="shoulder-title">Physical Examination of the Shoulder</div>

  <div class="shoulder-navigation">

  </div>
  <div class="shoulder-router-outlet">

  </div>


</div>



  <!--<nav *ngIf="false">
  <ul>
    <li><a routerLink="inspection" routerLinkActive="active">INSPECTION</a></li>
    <li><a routerLink="bony-palpation" routerLinkActive="active">BONY PALPATION</a></li>
    <li><a routerLink="soft-tissue-palpation" routerLinkActive="active">SOFT TISSUE PALPATION BY CLINICAL ZONES</a></li>
    <li><a routerLink="range-of-motion" routerLinkActive="active">RANGE OF MOTION</a></li>
    <li><a routerLink="neurologic-examination" routerLinkActive="active">NEUROLOGIC EXAMINATION</a></li>
    <li><a routerLink="special-tests" routerLinkActive="active">SPECIAL TESTS</a></li>
    <li><a routerLink="related-areas" routerLinkActive="active">EXAMINATION OF RELATED AREAS</a></li>
  </ul>
</nav>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a routerLink="inspection" routerLinkActive="active" class="nav-link active">INSPECTION</a>
  </li>
  <li class="nav-item">
    <a routerLink="bony-palpation" routerLinkActive="active" class="nav-link active">BONY PALPATION</a>
  </li>
</ul>

<router-outlet></router-outlet>-->
