.splitter {
  height: 20vh;
  background-color: rgb(100, 0, 100);
}

.splitter svg {
  width: 20%;
  height: 80%;
  fill: lavenderblush;
}

footer {
  background-color: rgb(100, 0, 100);
  color: white;
}
