<mat-card class="contact-form w-75 mx-auto mt-5">
  <mat-card-header class="justify-content-center mb-5">
    <mat-card-title class="primary-color-text header fs-1">
      מאמרים
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="d-flex">
      <p class="ms-4">
        <span class="mb-2 d-block fs-6 fw-bold">פיברומיאלגיה </span>
        פיברומיאלגיה היא כאב ברקמת החיבור ובשרירים. מדובר בכאב כרוני מפושט
        וברגישות עזה על פני מקומות רבים בגוף בצירוף עייפות. התסמונת פוגעת קשות
        ברמת התפקוד המקצועי, החברתי והמשפחתי של הלוקים בה.
      </p>
      <p>
        <span class="mb-2 d-block fs-6 fw-bold">משתקמים ממחלת הסרטן</span>
        כאבים מסרטן עלולים להתעורר ישירות מהמחלה או כתוצאה מהטיפולים השונים
        במחלה. הרי שהחולים בסרטן ואלו שניצחו את המחלה עלולים לפגוש לחץ נוסף
        ובעיות שונות הכוללות בין היתר כאבים חמורים אשר לעיתים לא מגיבים כלל
        לטיפולים קונבנציונאליים.
      </p>
      <p>
        <span class="mb-2 d-block fs-6 fw-bold">קנאביס-רפואי</span>
        שיתוק ילדים (פוליומייליטיס, Poliomyelitis) היא מחלה של מערכת העצבים,
        הנגרמת על ידי נגיף הפוליו. המחלה מועברת מאדם לאדם, בעיקר באמצעות מחזור
        צואה-פה.
      </p>
    </div>
  </mat-card-content>
</mat-card>
