<mat-card class="contact-form w-75 mx-auto mt-5">
  <mat-card-header class="justify-content-center mb-5">
    <mat-card-title class="primary-color-text header fs-1">
      הטיפולים במרפאה?
    </mat-card-title>
  </mat-card-header>
  <mat-card-content
    ><div class="d-flex">
      <ul>
        <p class="fs-6 fw-bold">תרופות מרשם וזריקות נגד כאב</p>
        <li>
          תרופות מרשם נגד כאב נרשמות ע"י רופאים רבים במטרה לנסות להפחית כאב אצל
          המטופל, במצבים שונים של כאבים כרוניים או ממקורות עצביים.
        </li>
        <li>
          זריקות מקומיות לטיפול בכאב-הזרקת חומרים לאזורים כואבים היא טיפול
          תרופתי ממוקד.
        </li>
      </ul>
      <p class="ms-4">
        <span class="mb-2 d-block fs-6 fw-bold"
          >בוטוקוס למיגרנה וכאבים נוספים</span
        >
        מתן בוטוקס במסגרת הטיפול במיגרנה וכאבים אחרים. מפחית את התדירות, עצימות
        ומשך הכאבים.
      </p>
      <p>
        <span class="mb-2 d-block fs-6 fw-bold">קנאביס-רפואי</span>מטופלים רבים
        מדווחים על הקלה בכאב. שיפור במצב-הרוח, שיפור בתיאבון, שיפור בתחושה
        הכללית.
      </p>
    </div>
  </mat-card-content>
</mat-card>
