<div class="toolbar">
  <a class="nav-link" routerLink="home" routerLinkActive="active">HOME</a>
  <a class="nav-link" routerLink="shoulder" routerLinkActive="active">SHOULDER</a>
  <a class="nav-link" routerLink="elbow" routerLinkActive="active">ELBOW</a>
  <a class="nav-link" routerLink="wrist-hand" routerLinkActive="active">WRIST & HAND</a>
  <a class="nav-link" routerLink="cervical-spine" routerLinkActive="active">CERVICAL SPINE</a>
  <a class="nav-link" routerLink="gait" routerLinkActive="active">GAIT</a>
  <a class="nav-link" routerLink="hip-pelvis" routerLinkActive="active">HIP & PELVIS</a>
  <a class="nav-link" routerLink="knee" routerLinkActive="active">KNEE</a>
  <a class="nav-link" routerLink="foot-ankle" routerLinkActive="active">FOOT & ANKLE</a>
  <a class="nav-link" routerLink="lumbar-spine" routerLinkActive="active">LUMBAR SPINE</a>
</div>
