.toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1px solid white;
}

.nav-link {
  color: black;
  border: 1px solid forestgreen;
  flex-grow: 1;
  padding: 0.5em 1em;
}

.nav-link:hover {
    background-color: lightgreen;
}
.active {
    background-color: chartreuse;
}
