<ul class="list-group">

  <li class="list-group-item">
    INSPECTION
  </li>

  <li class="list-group-item">
    Inspection begins as the patient enters the examining room.
    As he walks, evaluate the evenness and symmetry of his motion; the upper extremity, in normal gait, swings in tandem with the opposite lower extremity.
    As the patient disrobes to the waist, observe the rhythm of his shoulder movement.
    Normal motion has a smooth, natural, bilateral quality; abnormal motion appears unilaterally jerky or distorted, and often represents the patient’s attempt to substitute an inefficient, painless movement for one that was once efficient but has since become painful.
    Initial inspection should, of course, include a topical scan for blebs, discoloration, abrasions, scars, and other signs of present or previous pathology.
  </li>

  <li class="list-group-item">
    
  </li>

  <li class="list-group-item">
  </li>

  <li class="list-group-item">
  </li>

  <li class="list-group-item">
  </li>
</ul>

