html,
body {
  height: 100%;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1em;
  background-color: lavenderblush;
}

.force-center {
  margin-right: 50vw !important;
  transform: translateX(50%) !important;
}
